* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
}

.box {
  backdrop-filter: blur(15px);
}

.stopwatch {
  background: rgba(255, 255, 255, 0.12);
  padding: 35px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.stopwatch h2 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#display {
  font-size: 42px;
  color: #00ffd5;
  margin-bottom: 30px;
  letter-spacing: 3px;
  text-shadow: 0 0 15px rgba(0,255,213,0.6);
}


button {
  border: none;
  padding: 12px 18px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.start {
  background: #00ffd5;
  color: #000;
}

.stop {
  background: #ffd166;
  color: #000;
}

.reset {
  background: #ff4d6d;
  color: #fff;
}

.buttons button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}
