*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: rgb(208, 208, 255);
}

h1{
  color: rgb(21, 21, 194);
  text-align: center;
  justify-content: center;
  padding: 4rem;
  text-decoration: underline;
}

h2{
  color: rgb(21, 21, 194);
  text-align: center;
  padding-bottom: 5px;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul{
  padding: 20px;
}

ul li{
  font-size: x-large;
  margin-left: 20px;
}
  
p {
  font-size: x-large;
  padding: 20px; 
}

footer{
  text-align: center;
  margin-top: 6rem;
}
 
