* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #9b2cff, #b721ff);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.todo-app {
    width: 30%;
    backdrop-filter: blur(15px);
    border-radius: 22px;
    padding: 2rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #fff;
}

.input-box {
    display: flex;
    gap: 1rem;
}

input[type="text"] {
    width: 80%;
    padding: 12px 15px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
}


.input-box button {
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background: #fff;
    color: #9b2cff;
    transition: 0.3s;
}

.input-box button:hover {
    transform: scale(1.05);
}

.todo-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.todo-list li {
    background: rgba(255, 255, 255, 0.25);
    padding: 16px 20px;
    border-radius: 18px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto auto;
    align-items: center;
    gap: 12px;
    word-break: break-word;
    overflow: hidden;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    font-size: large;
}

.todo-list li:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.todo-list li button {
    background: #fff;
    color: #9b2cff;
    border: none;
    padding: 8px 14px;
    border-radius: 10px;
    font-size: 0.80rem;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s;
}

.todo-list li button:hover {
    background: #9b2cff;
    color: #fff;
}
